#button.used {
    opacity: 0.5;
}

#button.unused .line {
    transform: rotate(-150deg);
}

#button.used .line {
    transform: rotate(-30deg);
}

/*
 * If you want to unactivate button ==> add .unused
 * If you want to activate button ==> add .used
*/
