:root {
    --color-bg: #4d6548;
}

body {
    background-color: var(--color-bg);
    margin: 0;
    padding: 0;
}

#app {
    width: 80%;
    margin: auto;

    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
    #app {
        flex-direction: column;
    }
}
